.btn {
  font-size: 10px;
  line-height: 1.5;
  margin: 20px;
  /*привет*/
  background-color: #221133 2;
}
.btn-primary {
  font-size: 15px;
  line-height: 1.5;
  margin: 20px;
  background-color: #221133 2;
  /*!jhjhjh*/
}
