/* Fonts family */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/');
  src: url('../fonts/?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff'),
      url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
      url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('../fonts/ProximaNova-Bold.woff') format('woff'),
      url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
      url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.reg() {
  font-family:'ProximaNova_reg', sans-serif;
}
.bold() {
  font-family:'ProximaNova_bold', sans-serif;
}

/*Базовые цвета*/

@btn-color: #fcb303; /* цвет кнопок */
@icons-color: #46b814; /* цвет иконок */
@text: #1a1820;
@danger: #ff0000;
@bg-light: #f5f5f5; /* цвет фона */
@light: #fff;
@border-input: #dddddd;

/* Базовые настройки */

html {
  font-size: 10px;
}
body {
  .reg();
}
a:hover {
  text-decoration: none;
}
/* Используем псевдокласс focus для того, чтобы выключить обводку */
button, input, a {
  &:focus {
    outline: none;
  }

}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: @btn-color;
  color: @light;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    /* background-color: lighten(@btn-color, 10%); сделать светлее*/
    background-color: darken(@btn-color, 5%);
  }
}
.phone-link {
  display: inline-block;
  .bold();
  text-decoration: none;
  /* font-weight: 900; */
  font-size: 1.6rem;
  color: @text;
/*   height: 7rem;
  line-height: 7rem; */
}
/* Заголовки */

section {
  padding: 10rem 0;
}
.main {
  padding: 2rem 0 5rem;
  background: #fff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  &-content {
    margin-top: 6rem;
    /* Главный загаловок */
    h1 {
      margin-top: 0;
      margin-bottom: 3rem;
      .bold();
      font-size: 3rem;
      line-height: 1.45; /* межстрочный интервал */
      text-transform: uppercase;
    }
  }
  /* Подзаголовок */
  &-subtitle {
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }
  /* Зеленый ярлык */
  span {
    display: inline-block;
    padding: 2rem 4.1rem;
    font-size: 1.8rem;
    color: @light;
    background-color: @icons-color;
    text-align: center;
    /* Цифра "300" рублей */
    strong {
      font-size: 3rem;
      .bold();
    }
  }
  /* Оплата по факту */
  &-trigger {
    display: block;
    margin-top: 3rem;
    font-size: 2.2rem;
    text-transform: uppercase;
    .bold();
  }
  /* Главная форма */
  &-form {
    background-color: @light;
    margin-top: 1.4rem;
    padding: 2rem 3rem;
    text-align: center;
    /* Заголовок формы */
    &-header {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      strong {
        font-size: 1.9rem;
      }
    }
    /* Поле для ввода */
    &-input {
      display: block;
      width: 100%;
      border: 1px solid @border-input;
      padding: 1.5rem;
    }
    /* Подписи к полям */
    label {
      position: relative; 
      top: 15px;
      display: inline-block;
      font-size: 1.3rem;
      padding: 0.5rem;
      background-color: @light;
      /* border: 1px solid red; */
    }
    /* Подпись под кнопокой */
    small {
      display: block;
      margin-top: 1.5rem;
    }
    &-btn {
      display: block;
      /* margin-top: 3rem; */
      height: 5.5rem;
      margin-top: 3rem;
      width: 100%;
      font-size: 1.6rem;
      padding: 1rem 3rem;
      border-radius: 8px;
      background-color: @btn-color;
      color: @light;
      text-transform: uppercase;
      border: none;

      }
  }
}
/* .header {
  height: 7rem;
} */

/* .wrap {
  display: table;
  width: 100%;
  height: 7rem;
  &-block {
    display: table-cell;
    vertical-align: middle;
  }
}
 */
@media (max-width: 575px) {
  .main {
    background-position: top right;
  }
  .main-title {
    margin-top: 10rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .button {
    padding: 11px 11px;
    font-size: 12px;
    margin-top: 9rem;
    position: absolute;
    right: 27%;
  }
  .phone-link {
    position: absolute;
    right: 34%;
    margin-top: 4rem;
  }
  .header {
    text-align: center;
  }
 }
@media (max-width: 767px) {
.main-title {
  text-align: center;
 }
}