/* Fonts family */
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/');
  src: url('../fonts/?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*Базовые цвета*/
/* цвет кнопок */
/* цвет иконок */
/* цвет фона */
/* Базовые настройки */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
/* Используем псевдокласс focus для того, чтобы выключить обводку */
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #fff;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  /* background-color: lighten(@btn-color, 10%); сделать светлее*/
  background-color: #e3a103;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  text-decoration: none;
  /* font-weight: 900; */
  font-size: 1.6rem;
  color: #1a1820;
  /*   height: 7rem;
  line-height: 7rem; */
}
/* Заголовки */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
.main {
  margin-top: -1.5rem;
  padding: 2rem 0 5rem;
  background: #fff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /* Подзаголовок */
  /* Зеленый ярлык */
  /* Оплата по факту */
  /* Главная форма */
}
.main-content {
  margin-top: 6rem;
  /* Главный загаловок */
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
  line-height: 1.45;
  /* межстрочный интервал */
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 2rem 4.1rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #46b814;
  text-align: center;
  /* Цифра "300" рублей */
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  background-color: #fff;
  margin-top: 1.4rem;
  padding: 2rem 3rem;
  text-align: center;
  /* Заголовок формы */
  /* Поле для ввода */
  /* Подписи к полям */
  /* Подпись под кнопокой */
}
.main-form-header {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
}
.main-form label {
  position: relative;
  top: 15px;
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.5rem;
  background-color: #fff;
  /* border: 1px solid red; */
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.main-form-btn {
  display: block;
  /* margin-top: 3rem; */
  height: 5.5rem;
  margin-top: 3rem;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #fcb303;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
/* .header {
  height: 7rem;
} */
/* .wrap {
  display: table;
  width: 100%;
  height: 7rem;
  &-block {
    display: table-cell;
    vertical-align: middle;
  }
}
 */
/* Оформление секции с преимуществами */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 90%;
  font-size: 1.5rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.arrow {
  top: 21%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 3rem;
  height: 4rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 60%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 60%;
}
@media (max-width: 575px) {
  .main {
    margin-top: -1.5rem;
    background-position: top right;
  }
  .main-title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .button {
    /* padding: 11px 11px;
    font-size: 12px;
    margin-top: 9rem;
    position: absolute;
    right: 27%; */
    display: inline-block;
    margin: 0 auto;
    padding: 15px 15px;
    font-size: 14px;
    margin-top: 6rem;
  }
  .phone-link {
    /*  position: absolute;
    right: 34%;
    margin-top: 4rem; */
    display: inline-block;
    margin: 0 auto;
    margin-top: 4rem;
  }
  .header {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main-title {
    text-align: center;
  }
}
