.modal-content {
  background-color: #e74c3c;
  border-radius: 4px;
  border: none;
}
.modal-header {
  border: none;
  background-color: #d44637;
}
.modal-title {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}
.modal-body {
  border: none;
  background-color: #e74c3c;
}
.modal-text {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  color: #ffffff;
}
.modal-footer {
  border: none;
  margin: 0 auto;
  background-color: #e74c3c;
}
.btn-secondary {
  width: 100px;
  border-radius: 4px;
  font-size: 15px;
  background-color: #b3382c;
  border: none;
}
.btn-secondary:hover {
  background-color: #d44637;
}
.btn-close-white {
  border: none;
}